*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    width: 380px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #1f4037;
}
h3{
    text-align: center;
    margin-bottom: 20px;
    color: #1f4037;
}

.input-group{
    margin-bottom: 15px;
}

.input-group label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

/* INPUT Y SELECT CON MISMO ESTILO */
.input-group input,
.input-group select{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fff;
    transition: border 0.3s, box-shadow 0.3s;
}

/* EFECTO FOCUS */
.input-group input:focus,
.input-group select:focus{
    outline: none;
    border-color: #1f4037;
    box-shadow: 0 0 5px rgba(31, 64, 55, 0.4);
}

/* DESHABILITADO */
.input-group input:disabled,
.input-group select:disabled{
    background-color: #f1f1f1;
    color: #777;
    cursor: not-allowed;
}

/* BOTONES */
.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button{
    background: #1f4037;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

button:hover{
    opacity: 0.9;
}

button.reporte{
    background: #2c7a7b;
}

/* BOTÓN BORRAR */
button.borrar{
    background: #c0392b;
}

/* LOGO SUPERIOR */
.logo{
    position: fixed;
    top: 30px;
    left: 50px;
    
}

.logo img{
    height: 200px;
    border-radius: 0.5rem;   
}

.registrar-top {
    position: fixed;
    top: 30px;
    right: 50px;
    background: #2c7a7b;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}
/* CARD MÁS ANCHA PARA EL MENÚ */
.card-menu {
    width: 500px;
    text-align: center;
}

/* CONTENEDOR DE BOTONES */
.menu-botones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

/* BOTONES GRANDES */
.btn-grande {
    background: #1f4037;
    color: white;
    border: none;
    padding: 18px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-grande:hover {
    opacity: 0.9;
}
.menu-top {
    position: fixed;
    top: 30px;
    right: 50px;
    background: #1f4037;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.menu-top:hover {
    opacity: 0.9;
}








