body{
    font-family: Arial;
    background: #1f4037;
    padding: 20px;
}

.box{
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h2{
    text-align: center;
    color: #1f4037;
}
